html {
  scroll-behavior: smooth;
}

#nav-mobile {
  z-index: 9999;
}

:root {
  --clr-primary: #ff7777;
}

/* about.html */
#about-banner {
  background-image: url(../imgs/about/about.jpg);
  background-position: center;
  background-size: cover;
}

.custom-see-donation-docu svg {
  transition: all 150ms;
}

.custom-see-donation-docu svg:hover {
  fill: var(--clr-primary);
}

/* publishing.html */
#publishing-banner {
  background-image: url(../imgs/books/books.jpg);
  background-position: center;
  background-size: cover;
}

#books-see-all:hover {
  color: var(--clr-primary);
}

#books-see-all:hover svg {
  fill: var(--clr-primary);
}

.portfolio-category-btn {
  transition: background-color 150ms;
}

.portfolio-category-btn:hover {
  background-color: #fee2e2;
}

.portfolio-category-btn.active {
  background-color: var(--clr-primary);
  color: white;
}
