html,
body {
  scroll-behavior: smooth;
}

#nav-mobile {
  z-index: 9999;
}

:root {
  --clr-primary: #ff7777;
}

#goTopBtn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-primary);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.5s;
  overflow: hidden;
}

#goTopBtn a {
  padding: 0.95rem;
}

/* index.html */
.header-and-intro-wrapper {
  width: 100%;
  height: 100%;
  background-image: url(../imgs/landing/greenbg.svg);
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: top right;
}

#intro {
  height: calc(100vh - 80px);
}

@media screen and (min-width: 768px) {
  .header-and-intro-wrapper {
    background-size: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .header-and-intro-wrapper {
    background-size: 80%;
  }

  #intro {
    margin-top: -80px;
  }
}

@media screen and (min-width: 1480px) {
  .header-and-intro-wrapper {
    background-size: 70%;
  }
}

/* about.html */
#about-banner {
  background-image: url(../imgs/about/about.jpg);
  background-position: center;
  background-size: cover;
}

.custom-see-donation-docu svg {
  transition: all 150ms;
  margin: 0 auto;
}

.custom-see-donation-docu svg:hover {
  fill: var(--clr-primary);
}

#magazine,
#mini-magazine,
#products,
#jibu,
#donation {
  scroll-margin-top: 5rem;
}

.magazine-red-bg {
  background-image: linear-gradient(to bottom, #fbd786, #f7797d);
}

.magazine-blue-bg {
  background-image: linear-gradient(to bottom, #b6fbff, #83a4d4);
}

/* publishing.html */
#publishing-banner {
  background-image: url(../imgs/books/books.jpg);
  background-position: center;
  background-size: cover;
}

#books-see-all:hover {
  color: var(--clr-primary);
}

#books-see-all:hover svg {
  fill: var(--clr-primary);
}

.portfolio-category-btn {
  transition: background-color 150ms;
}

.portfolio-category-btn:hover {
  background-color: #fee2e2;
}

.portfolio-category-btn.active {
  background-color: var(--clr-primary);
  color: white;
}

.portfolio-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* animation: fadeIn 1s; */
}

.img-box {
  overflow: hidden;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* all book cards grid */
